<app-header/>
<div class="container mx-auto text-center py-10 lg:pb-20 lg:pt-20">
  <h2 class="text-3xl lg:text-5xl font-semibold">Tarjetas registradas</h2>
  <div class="flex flex-col sm:flex-row sm:-mx-3 mt-12">
    <!-- <div class="flex-1 px-3">
      <div class="p-12 rounded-lg border border-solid border-color2 mb-8"
        style="box-shadow:0 10px 10px">
        <p class="font-bold text-xl text-color4-shade">Búsqueda</p>
        <p class="mt-4 text-color1-shade">Busca vuelos en la página con diversos filtros como origen, destino o fecha.
          Suscríbete a nuestro boletín para recibir notificaciones de vuelos.</p>
      </div>
    </div> -->
    <div class="flex-1 px-3">
      <div class="p-12 rounded-lg border border-solid border-color2 mb-8"
        style="box-shadow:0 10px 10px">
        <p class="font-bold text-xl text-color5">Compra</p>
        <p class="mt-4 text-color1-shade">¿Quieres realizar la compra de un tiquete? Agrégalo al carrito de compras y págalo en línea.
          También podrás ver el historial de tus compras.</p>
      </div>
    </div>
    <div class="flex-1 px-3">
      <div class="p-12 rounded-lg border border-solid border-color2 mb-8"
        style="box-shadow:0 10px 10px">
        <p class="font-bold text-xl text-color5-shade">Comunicación</p>
        <p class="mt-4 text-color1-shade">¿Tienes alguna duda o comentario? No dudes en escribir a uno de nuestros administradores
          por medio del chat en línea.</p>
      </div>
    </div>
  </div>
</div>