<header class="flex justify-between items-center p-2 bg-white h-20 text-color4 select-none shadow shadow-black">
  <div class="flex items-center justify-between pl-2">
    <div class="h-auto" routerLink="">
      <img class="w-36 h-auto cursor-pointer" src="Nombre2.png" alt="Logo de CoffeeSky">
    </div>
    <!-- <h1 class="m-0 hover:text-slate-700 pl-2 font-bold text-xl">CoffeeSky</h1> -->
  </div>  

  <!-- <div class="w-1/3">
    <form [formGroup]="searchForm" (ngSubmit)="save()" class="max-w-md mx-auto">
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <span class="material-symbols-outlined" translate="no">
              search
            </span>
          </div>
          <input type="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-color4" placeholder="Busca ciudades, precios, fechas..."/>
          <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-color1 hover:bg-color1-shade focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">Buscar</button>
      </div>
    </form>
  </div> -->

  <nav class="hidden md:flex space-x-4">
    <button routerLink="">
      <span class="material-symbols-outlined" translate="no">
        home
      </span>
      <p>Inicio</p>
    </button>
    <button *ngIf="jwtService.tokenExistsAndValid()" routerLink="/profile">
      <span class="material-symbols-outlined" translate="no">
        person
      </span>
      <p>Perfil</p>
    </button>
    <button *ngIf="jwtService.tokenExistsAndValid()" (click)="logout()">
      <span class="material-symbols-outlined" translate="no">
        logout
      </span>
      <p>Cerrar sesión</p>
    </button>
    <button *ngIf="!jwtService.tokenExistsAndValid()" routerLink="/login">
      <span class="material-symbols-outlined" translate="no">
        login
      </span>
      <p>Iniciar Sesión</p>
    </button>
  </nav>

  <div class="md:hidden">
    <button (click)="isMenuOpen = !isMenuOpen">
      <span class="material-symbols-outlined text-black hover:text-color4" translate="no">
        menu
      </span>
    </button>
  </div>

  <nav *ngIf="isMenuOpen" class="absolute top-20 right-0 bg-white w-full flex flex-col items-end shadow shadow-gray-300 md:hidden p-3">
    <button routerLink="">
      <span class="material-symbols-outlined" translate="no">
        home
      </span>
      <p>Inicio</p>
    </button>
    <button *ngIf="jwtService.tokenExistsAndValid()" routerLink="/profile">
      <span class="material-symbols-outlined" translate="no">
        person
      </span>
      <p>Perfil</p>
    </button>
    <button *ngIf="jwtService.tokenExistsAndValid()" (click)="logout()">
      <span class="material-symbols-outlined" translate="no">
        logout
      </span>
      <p>Cerrar sesión</p>
    </button>
    <button *ngIf="!jwtService.tokenExistsAndValid()" routerLink="/login">
      <span class="material-symbols-outlined" translate="no">
        login
      </span>
      <p>Iniciar Sesión</p>
    </button>
  </nav>
</header>