<header class="flex justify-between items-center p-2 bg-color4 h-20 text-black select-none shadow shadow-black">
  <div class="flex items-center justify-start pl-2">
    <div class="h-auto" routerLink="">
      <img class="w-36 h-auto cursor-pointer" src="Nombre2.png" alt="Logo de AlfaSoft">
    </div>
    <!-- <h1 class="m-0 hover:text-slate-700 pl-2 font-bold text-xl">CoffeeSky</h1> -->
  </div>  

  <nav class="flex">
    <button routerLink="">
      <span class="material-symbols-outlined" translate="no">
        home
      </span>
      <p>Inicio</p>
    </button>
    <button (click)="logout()">
      <span class="material-symbols-outlined" translate="no">
        logout
      </span>
      <p>Cerrar sesión</p>
    </button>
    <button routerLink="/login">
      <span class="material-symbols-outlined" translate="no">
        login
      </span>
      <p>Iniciar Sesión</p>
    </button>
  </nav>
</header>