<div class="min-h-screen bg-gray-100 p-4 sm:p-6">
  <header class="w-full fixed top-0 left-0 bg-white shadow-md z-50 p-4">
    <div class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-4">
      <img src="Nombre2.png" alt="COFFEESKY" class="w-24 sm:w-32 cursor-pointer" routerLink=""/>
      <div class="text-lg text-center sm:text-left w-full">
        <p class="font-bold">{{origin}} a {{destination}}</p>
        <div class="text-gray-500 flex flex-col sm:flex-row items-center sm:space-x-2">
          <div class="flex items-center space-x-1">
            <span class="material-symbols-outlined" translate="no">flight_takeoff</span>
            <span>{{departureDate | date:'EEE. d MMM. yyyy':'es'}}</span>
          </div>
          <div *ngIf="tripType === 'roundtrip'" class="flex items-center space-x-1">
            <span class="hidden sm:inline mx-2">•</span>
            <span class="material-symbols-outlined transform scale-x-[-1]" translate="no">flight_takeoff</span>
            <span>{{returnDate | date:'EEE. d MMM. yyyy':'es'}}</span>
          </div>
          <div class="flex items-center space-x-1">
            <span class="hidden sm:inline mx-2">•</span>
            <span class="material-symbols-outlined" translate="no">person</span>
            <span>{{passengers}} {{passengers === 1 ? 'pasajero' : 'pasajeros'}}</span>
          </div>
          <button (click)="editSearch()"
            class="mt-2 sm:mt-0 ml-0 sm:ml-2 text-teal-600 hover:text-teal-700 focus:outline-none flex items-center">
            <span class="material-symbols-outlined mr-1" translate="no">edit</span>
            Editar
          </button>
        </div>
      </div>
    </div>
  </header>

  <div class="" *ngIf="editingSearch==true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity z-50" aria-hidden="true">
      <div class="fixed inset-0 w-screen overflow-y-auto">
        <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
          <div class="modal relative transform overflow-hidden rounded-lg p-6 w-full bg-gray-200 shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-3xl lg:max-w-4xl">
            <button (click)="close()" class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 focus:outline-none">
              <span class="material-symbols-outlined text-2xl" translate="no">close</span>
            </button>
            <div class="modal_body">
              <h2 class="mb-4 text-lg font-semibold">Editar búsqueda</h2>
              <div class="text-left">
                <app-search-flights/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-3xl mx-auto space-y-4 pt-60 sm:pt-24">
    <div class="text-lg font-bold flex items-center">
      <span class="material-symbols-outlined" translate="no">flight_takeoff</span>
      <p class="inline-block ml-2">Ida: {{origin}} a {{destination}}</p>
    </div>
    <div *ngFor="let flight of allFlights.outboundFlights.outbound" 
         class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-200 cursor-pointer"
         [ngClass]="{'hover:shadow-lg': !isFlightSelected(flight, 'ida'),'border-2 border-teal-500 shadow-lg': isFlightSelected(flight, 'ida')}"
         (click)="selectFlight(flight)">
      <div class="flex flex-col sm:flex-row items-center justify-between space-y-4 sm:space-y-0">
        <div class="flex items-center space-y-2 sm:space-y-0 sm:space-x-6 w-full sm:w-auto">
          <div class="text-left w-full sm:w-auto">
            <p class="text-2xl font-bold">{{formatTime(flight.departure)}}</p>
            <p class="text-sm text-gray-500">{{originCode}}</p>
          </div>
          <div class="flex flex-col items-center w-full sm:w-auto">
            <div class="w-24 sm:w-32 h-px bg-teal-500 relative mt-4">
              <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-1 rounded-full">
                <span class="material-symbols-outlined transform rotate-90 text-teal-500 text-sm sm:text-2xl" translate="no">flight</span>
              </div>
            </div>
            <p class="text-xs text-gray-500 mt-4">{{flight.duration}}</p>
          </div>
          <div class="text-right w-full sm:w-auto">
            <p class="text-2xl font-bold">{{formatTime(flight.arrival)}}</p>
            <p class="text-sm text-gray-500">{{destinationCode}}</p>
          </div>
        </div>
        <div class="flex flex-col text-right w-full sm:w-auto">
          <p class="text-xs text-gray-500">Desde</p>
          <p class="text-xl font-bold flex flex-row items-center justify-end">
            COP {{(selectedFlight === flight && selectedClassIda ? getSelectedPrice(flight, 'ida') : flight.economyPrice) | number}}
            <span class="material-symbols-outlined ml-1" translate="no">keyboard_arrow_down</span>
          </p>
        </div>
      </div>
      <div *ngIf="selectedFlight === flight" class="mt-2 space-y-2 animate-fade-in">
        <!-- <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassIda !== 'economy','border-teal-500 bg-teal-50': selectedClassIda === 'economy'}"
          (click)="selectClass('economy', 'ida'); $event.stopPropagation()"> -->
          <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassIda !== 'economy','border-teal-500 bg-teal-50': selectedClassIda === 'economy'}">
          <div class="flex flex-col sm:flex-row justify-between items-start">
            <div>
              <h3 class="font-bold text-lg">Clase Económica</h3>
              <ul class="mt-2 space-y-2">
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">backpack</span>
                  1 artículo personal
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">chair</span>
                  Asiento estándar
                </li>
              </ul>
            </div>
            <div class="text-center mt-2 sm:mt-0">
              <p class="text-md sm:text-2xl font-bold text-teal-600">COP {{flight.economyPrice| number}}</p>
              <button class="mt-2 bg-teal-600 text-white px-4 sm:px-6 py-2 rounded-lg hover:bg-teal-700 transition-colors duration-200"
                [ngClass]="{'ring-2 ring-offset-2 ring-teal-500': selectedClassIda === 'economy'}"
                (click)="selectClass('economy', 'ida'); $event.stopPropagation()">
                {{selectedClassIda === 'economy' ? 'Seleccionado' : 'Seleccionar'}}
              </button>
              <p class="text-xs mt-1 text-gray-600">Precio por pasajero</p>
            </div>
          </div>
        </div>
        <!-- <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassIda !== 'firstClass','border-teal-500 bg-teal-50': selectedClassIda === 'firstClass'}"
          (click)="selectClass('firstClass', 'ida'); $event.stopPropagation()"> -->
        <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassIda !== 'business','border-teal-500 bg-teal-50': selectedClassIda === 'business'}">
          <div class="flex flex-col sm:flex-row justify-between items-start">
            <div>
              <h3 class="font-bold text-lg">Primera Clase</h3>
              <ul class="mt-2 space-y-2">
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">backpack</span>
                  1 artículo personal
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">travel_luggage_and_bags</span>
                  1 equipaje de mano de 10 kg
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">luggage</span>
                  1 equipaje de bodega de 30 kg 
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">chair</span>
                  Asiento premium con mayor espacio
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">restaurant_menu</span>
                  Comida y bebidas incluidas
                </li>
              </ul>
            </div>
            <div class="text-center mt-2 sm:mt-0">
              <p class="text-md sm:text-2xl font-bold text-teal-600">COP {{flight.businessPrice| number}}</p>
              <button class="mt-2 bg-teal-600 text-white px-4 sm:px-6 py-2 rounded-lg hover:bg-teal-700 transition-colors duration-200"
                [ngClass]="{'ring-2 ring-offset-2 ring-teal-500': selectedClassIda === 'business'}" 
                (click)="selectClass('business', 'ida'); $event.stopPropagation()">
                {{selectedClassIda === 'business' ? 'Seleccionado' : 'Seleccionar'}}
              </button>
              <p class="text-xs mt-1 text-gray-600">Precio por pasajero</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="allFlights.outboundFlights.outbound.length === 0" class="bg-white rounded-lg shadow-md p-6 mt-6">
      <p class="text-center text-gray-500">No se encontraron vuelos disponibles para las fechas seleccionadas.</p>
  </div>

  <div *ngIf="tripType === 'roundtrip'" class="max-w-3xl mx-auto space-y-4 pt-10">
    <div class="text-lg font-bold flex items-center">
      <span class="material-symbols-outlined transform scale-x-[-1]" translate="no">flight_takeoff</span>
      <p class="inline-block ml-2">Vuelta: {{destination}} a {{origin}}</p>
    </div>
    <div *ngFor="let flight of allFlights.returnFlights.return" 
         class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-200 cursor-pointer"
         [ngClass]="{'hover:shadow-lg': !isFlightSelected(flight, 'vuelta'),'border-2 border-teal-500 shadow-lg': isFlightSelected(flight, 'vuelta')}"
         (click)="selectReturnFlight(flight)">
      <div class="flex flex-col sm:flex-row items-center justify-between space-y-4 sm:space-y-0">
        <div class="flex items-center space-y-2 sm:space-y-0 sm:space-x-6 w-full sm:w-auto">
          <div class="text-left w-full sm:w-auto">
            <p class="text-2xl font-bold">{{formatTime(flight.departure)}}</p>
            <p class="text-sm text-gray-500">{{destinationCode}}</p>
          </div>
          <div class="flex flex-col items-center w-full sm:w-auto">
            <div class="w-24 sm:w-32 h-px bg-teal-500 relative mt-4">
              <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-1 rounded-full">
                <span class="material-symbols-outlined transform rotate-90 text-teal-500 text-sm sm:text-2xl" translate="no">flight</span>
              </div>
            </div>
            <p class="text-xs text-gray-500 mt-4">{{flight.duration}}</p>
          </div>
          <div class="text-right w-full sm:w-auto">
            <p class="text-2xl font-bold">{{formatTime(flight.arrival)}}</p>
            <p class="text-sm text-gray-500">{{originCode}}</p>
          </div>
        </div>
        <div class="text-right w-full sm:w-auto">
          <p class="text-xs text-gray-500">Desde</p>
          <p class="text-xl font-bold flex items-center justify-end">
            COP {{(selectedReturnFlight === flight && selectedClassVuelta ? getSelectedPrice(flight, 'vuelta') : flight.economyPrice) | number}}
            <span class="material-symbols-outlined ml-1 text-md sm:text-2xl" translate="no">keyboard_arrow_down</span>
          </p>
        </div>
      </div>
      <div *ngIf="selectedReturnFlight === flight" class="mt-2 space-y-2 animate-fade-in">
        <!-- <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassVuelta !== 'economy','border-teal-500 bg-teal-50': selectedClassVuelta === 'economy'}"
          (click)="selectClass('economy', 'vuelta'); $event.stopPropagation()"> -->
        <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassVuelta !== 'economy','border-teal-500 bg-teal-50': selectedClassVuelta === 'economy'}">
          <div class="flex flex-col sm:flex-row justify-between items-start">
            <div>
              <h3 class="font-bold text-lg">Clase Económica</h3>
              <ul class="mt-2 space-y-2">
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">backpack</span>
                  1 artículo personal
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">chair</span>
                  Asiento estándar
                </li>
              </ul>
            </div>
            <div class="text-center mt-2 sm:mt-0">
              <p class="text-md sm:text-2xl font-bold text-teal-600">COP {{flight.economyPrice| number}}</p>
              <button class="mt-2 bg-teal-600 text-white px-4 sm:px-6 py-2 rounded-lg hover:bg-teal-700 transition-colors duration-200"
                [ngClass]="{'ring-2 ring-offset-2 ring-teal-500': selectedClassVuelta === 'economy'}" 
                (click)="selectClass('economy', 'vuelta'); $event.stopPropagation()">
                {{selectedClassVuelta === 'economy' ? 'Seleccionado' : 'Seleccionar'}}
              </button>
              <p class="text-xs mt-1 text-gray-600">Precio por pasajero</p>
            </div>
          </div>
        </div>
        <!-- <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassVuelta !== 'firstClass','border-teal-500 bg-teal-50': selectedClassVuelta === 'firstClass'}"
          (click)="selectClass('firstClass', 'vuelta'); $event.stopPropagation()"> -->
        <div class="bg-white rounded-lg p-6 border border-gray-200 hover:border-teal-500 cursor-pointer transition-colors duration-200"
          [ngClass]="{'border-gray-200 hover:border-teal-500': selectedClassVuelta !== 'business','border-teal-500 bg-teal-50': selectedClassVuelta === 'business'}">
          <div class="flex flex-col sm:flex-row justify-between items-start">
            <div>
              <h3 class="font-bold text-lg">Primera Clase</h3>
              <ul class="mt-2 space-y-2">
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">backpack</span>
                  1 artículo personal
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">travel_luggage_and_bags</span>
                  1 equipaje de mano de 10 kg
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">luggage</span>
                  1 equipaje de bodega de 30 kg 
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">chair</span>
                  Asiento premium con mayor espacio
                </li>
                <li class="flex items-center text-sm text-gray-600">
                  <span class="material-symbols-outlined mr-2 text-teal-500" translate="no">restaurant_menu</span>
                  Comida y bebidas incluidas
                </li>
              </ul>
            </div>
            <div class="text-center mt-2 sm:mt-0">
              <p class="text-md sm:text-2xl font-bold text-teal-600">COP {{flight.businessPrice| number}}</p>
              <button class="mt-2 bg-teal-600 text-white px-4 sm:px-6 py-2 rounded-lg hover:bg-teal-700 transition-colors duration-200"
                [ngClass]="{'ring-2 ring-offset-2 ring-teal-500': selectedClassVuelta === 'business'}" 
                (click)="selectClass('business', 'vuelta'); $event.stopPropagation()">
                {{selectedClassVuelta === 'business' ? 'Seleccionado' : 'Seleccionar'}}
              </button>
              <p class="text-xs mt-1 text-gray-600">Precio por pasajero</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tripType === 'roundtrip'">
    <div *ngIf="allFlights.returnFlights.return.length === 0" class="bg-white rounded-lg shadow-md p-6 mt-6">
      <p class="text-center text-gray-500">No se encontraron vuelos disponibles para las fechas seleccionadas.</p>
    </div>
  </div>

  <div class="mt-6 flex justify-center gap-4">
    <button routerLink=""
      class="w-fit px-4 py-2 mt-3 font-bold text-white bg-color1 rounded-md hover:bg-color1-shade transition-all duration-300 ease-in-out focus:outline-none focus:shadow-outline
      disabled:opacity-50 disabled:cursor-not-allowed">
      Regresar
    </button>

    <button (click)="addToCart()"
      class="w-fit px-4 py-2 mt-3 font-bold text-white bg-color1 rounded-md hover:bg-color1-shade transition-all duration-300 ease-in-out focus:outline-none focus:shadow-outline
      disabled:opacity-50 disabled:cursor-not-allowed">
      Agregar al carrito
    </button>
  </div>
</div>