<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
<div class="fixed inset-0 z-10 w-screen overflow-y-auto">
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    <div class="modal relative transform overflow-hidden rounded-lg p-6 w-full bg-white shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
      <div class="modal_body">
        <h2 class="mb-4 text-lg font-semibold">Cambiar Contraseña</h2>
        <div class="mx-auto max-w-md text-left">
          <span class="text-sm">La nueva contraseña debe tener entre 8 y 20 carácteres, además de contener al menos una letra mayúscula, una letra minúscula, un número y un carácter especial</span>
          <form [formGroup]="passwordForm" (ngSubmit)="save()">
            <label class="block mt-4 mb-2 text-sm text-black">Nueva contraseña <span class="text-red-500">*</span></label>
            <input
              class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-color1 focus:bg-white invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
              type="password" placeholder="Contraseña actual" formControlName="password"/>
              <span *ngIf="passwordForm.hasError('required','password') && passwordForm.controls['password'].dirty" class="text-red-500 text-xs">La contraseña es requerida</span>
              <span *ngIf="passwordForm.hasError('pattern','password')" class="text-red-500 text-xs">La contraseña no es válida</span>
              <div class="mt-4 sm:flex sm:flex-row-reverse sm:px-6">
                <button (click)="close()" class="inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600 sm:ml-3 sm:w-auto">Cancelar</button>
                <button [disabled]="passwordForm.invalid" type="submit" 
                class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-black shadow-sm ring-1 ring-inset ring-color1 hover:bg-color1 hover:text-white sm:mt-0 sm:w-auto
                disabled:opacity-40 disabled:cursor-not-allowed ">Cambiar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>