<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity z-50" aria-hidden="true">
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
      <div class="modal relative transform overflow-hidden rounded-lg p-6 w-full bg-white shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="modal_body">
          <h2 class="mb-4 text-lg font-semibold">Comprar tiquetes</h2>
          <div class="mx-auto max-w-md text-center">
            <p class="text-sm text-gray-500">Espere un momento...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>