<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
<div class="fixed inset-0 z-10 w-screen overflow-y-auto">
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    <div class="modal relative transform overflow-hidden rounded-lg p-6 w-full bg-white shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
      <div class="modal_body">
        <span class="material-symbols-outlined" translate="no">
            error
        </span>
        <h2 class="mb-4 text-lg font-semibold">Cancelar Vuelo</h2>
        <div class="mx-auto max-w-md text-left">
          <span class="text-sm">¿Está seguro de cancelar el vuelo? Esta acción no se puede deshacer</span>
        </div>
        <div class="mt-4 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click)="close()" class="inline-flex w-full justify-center rounded-md bg-color1 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-color1-shade sm:ml-3 sm:w-auto">Regresar</button>
          <button type="submit" 
          class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-color1 hover:bg-gray-300 sm:mt-0 sm:w-auto">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>